@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');


:root{
    --pink:#ff003cbb;

}

*{
    margin: 0; padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    outline: none; border: none;
    text-decoration: none;
    transition: .2s linear;
}


html{
font-size: 62.5%;
scroll-behavior: smooth;
scroll-padding-top: 6rem;
overflow-x: hidden;
}

section{
    padding: 2rem 9%;
}

.heading{
    text-align: center;
    font-size: 4rem;
    color: #333;
    padding: 1rem;
    margin: 2rem 0;
    background: rgba(255, 51, 153, .05);

}

.heading span{
    color: var(--pink);
}

.btn{
    display: inline-block;
    margin-top: 1rem;
    border-radius: 5rem;
    background: #333;
    color: #fff;
    padding: .9rem 3.5rem;
    cursor: pointer;
    font-size: 1.7rem;
}

.btn:hover{
    background:var(--pink) ;
}

header{
    position: fixed;
    top: 0; left: 0; right: 0;
    background: #fff;
    padding: 2rem 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,0.1);
}



header .logo{
    font-size: 3rem;
    color: #333;
    font-weight: bolder;
    text-align: left;
    text-decoration: none;
}



header .logo span{
    color: var(--pink);
    
}

nav ul li{
    padding : 0 10px 0 10px;
    
    }

.nav input{
    background-color: var(--pink) !important;
    color: var(--preto) !important;
    
}

header .navbar a{
    font-size: 2rem;
    padding: 0 1.5rem;
    color: #333;
    text-decoration: none;
}

header .navbar a:hover{
    color: var(--pink);
}

header .icons a{
    font-size: 2.5rem;
    color: #333;
    margin-left: 1.5rem;
    text-decoration: none;
}

header .icons a:hover{
    color: var(--pink);
    text-decoration: none;
}

header #toggler {
    display: none;
    text-decoration: none;
}

header.icons-bootstrap{
    font-size: 3rem;
    color: #333;
    border-radius: .5rem;
    padding: .5rem 1.5rem;
    cursor: pointer;
    border: .1rem solid rgba(0,0,0,0.1);
    display: none;
    text-decoration: none;
}



.home{
    display:flex ;
    align-items: center;
    min-height: 100vh;
    background: url(../img/Be_My_Bae-779b-Overdose-16x9.webp);
    background-size: cover;
    background-position: center;
}

.home .conteudo{
    max-width: 50rem;

}

.home .conteudo h3{
    font-size: 6rem;
    color: #fff;
}

.home .conteudo span{
    font-size: 3.5rem;
    color: #ff1067;
    padding: 1rem 0 ;
    line-height: 1.5;
}

.home .conteudo p{
    font-size: 1.5rem;
    color: #666;
    padding: 1rem 0 ;
    line-height: 1.5;
}

.content-homepage .row{
    width: 80%;
    max-width: 1170px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 50px;
    overflow-x: hidden;
    padding: 5rem 0;
}

.content-homepage .row .imgWrapper{
    overflow: hidden;
}

.content-homepage .row .imgWrapper img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.3s;
}

.content-homepage .row .imgWrapper:hover img{
transform: scale(1.25);
}

.content-homepage .row .contentWrapper{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 30PX;

}

.content-homepage .row .contentWrapper span.textWrapper{
    display: block;
    font-size: 20px;
    text-transform: capitalize;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
    margin-bottom: 20px;
}

.content-homepage .row .contentWrapper span.textWrapper span{
    display: inline-block;
    background: #333;
    width: 70px;
    height: 5px;
}

.content-homepage .row .contentWrapper h2{
    font-size: 40px;
    font-weight: 700;
    color: var(--pink);
    padding-bottom: 20px;
}

.content-homepage .row .contentWrapper p{
    font-size: 16px;
    line-height: 25px;
    padding-bottom: 25px;
}

.content-homepage .row .contentWrapper a{
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    background: #333;
    color: #fff;
    padding: 15px 40px;
    letter-spacing: 1px;
}

.sobrenos .row{
    display: flex;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;
    padding: 2rem 0;
    padding-bottom: 3rem;
}

.sobrenos .row .video-container{
    flex: 1 1 40rem;
    position: relative;
}

.sobrenos .row .video-container video{
    width: 100%;
    border: 1.5rem solid #fff;
    border-radius: .5rem;
    box-shadow: 0.5rem 1rem rgba(0,0,0,0.1);
    height: 100%;
    object-fit: cover;
}
/* card1 */
#btn2 button{
    width: 100px;
    height: 30px;
    background: transparent;
    border: 1px solid black;
    transition: 0.5s ease;
    cursor: pointer;
}
#btn2 button:hover{
    background-color: rgba(238,224,208);
}
/* card1 */

/* card2 */
#tpc{
    box-shadow: 0 0 5px black;
    transition: 0.5s ease;
    cursor: pointer;
}
#tpc:hover{
    transform: translateY(-10px);
}
/* card2 */

/* card3 */
#c p{
    font-weight: bold;
}

.sobrenos .row .video-container h3{
    position: absolute;
    top: 50%; transform: translateY(-50%);
    font-size: 3rem;
    background: #fff;
    width: 100%;
    padding: 1rem 2rem;
    text-align: center;
    mix-blend-mode: screen;
}

.sobrenos .row .conteudo{
    flex: 1 1 40rem;
}

.sobrenos .row .conteudo h3{
    font-size: 3rem;
    color: #333;
}

.sobrenos .row .conteudo p{
    font-size:1.5rem;
    color: #999;
    padding: .5rem 0;
    padding-top: 1rem;
    line-height: 1.5;
}


.icons-container{
background: #eee;
display: flex ;
flex-wrap: wrap;
gap:1.5rem;
padding-top: 5rem;
padding-bottom: 5rem;
}

.icons-container .icons{
    background: #fff;
    border: .1rem solid rgba(0,0,0,.1);
    padding: 2rem;
    display: flex;
    align-items: center;
    flex: 1 1 25rem;

}

.icons-container .icons img{
    height: 5rem;
    margin-right: 2rem;
}

.icons-container .icons h3{
    color:#333;
    padding-bottom: .5rem;
    font-size: 1.5rem;
}

.icons-container .icons span{
    color: #555;
    font-size: 1.3rem ;
}

.produtos .box-container{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.produtos .box-container .box{
    flex: 1 1 30rem;
    box-shadow: 0 .5 1.5rem rgba(0,0,0,.1);
    border: .1rem solid rgba(0,0,0,.1);
    position: relative;
}

.produtos .box-container .box .imagem{
    position: relative;
    text-align: center;
    padding-top: 2rem;
    overflow: hidden;
}

.produtos .box-container .box .imagem img{
    height: 25rem;

}

.produtos .box-container .box:hover .imagem img{
    transform: scale(1.1);
}

.produtos .box-container .box .imagem .icons{
    position: absolute;
    bottom: -7rem;; left: 0; right: 0;
    display: flex;
}

.produtos .box-container .box:hover .imagem .icons{
    bottom: 0;
}
.produtos .box-container .box .imagem .icons a{
    height: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    width: 50%;
    background: #333;
    color: #fff;
}

.produtos .box-container .box .imagem .icons .cart-btn{
    border-left: .1rem solid #fff7;
    border-right: .1rem solid #fff7 ;
    width: 100%;
}

.produtos .box-container .box .imagem .icons a:hover{
    background: var(--pink);

}

.produtos .box-container .box .conteudo{
    padding: 2rem;
    text-align: center;

}

.produtos .box-container .box .conteudo h3{
    font-size: 2rem;
    color: #333;
}

.produtos .box-container .box .conteudo .price{
    font-size: 1.5rem;
    color: var(--pink);
    font-weight: bolder;
    padding-top: 1rem;
}

.produtos .box-container .box .conteudo .price span{
    font-size: 1.5rem;
    color: #999;
    font-weight: lighter;
    text-decoration: line-through;
}


.review .box-container{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.review .box-container .box{
    flex: 1 1 30rem;
    box-shadow: 0.5rem 1.5rem rgba(0,0,0,.1);
    border-radius: .5rem;
    padding: 3rem 2rem;
    position: relative;
    border:.1rem solid rgba(0,0,0,.1);}

.review .box-container .box .fa-quote-right{
    position: absolute;
    bottom:3rem; right:3rem;
    font-size: 6rem;
    color: #eee;
}

.review .box-container .box .stars{
    color: #555;
    font: size 1.5rem;;
}

.review .box-container .box p{
    color: #666;
    font-size:  2rem;;
    line-height: 1.5;
    padding-top: 2rem;
}

.review .box-container .box .user{
    display: flex;
    align-items: center;
    padding-top: 2rem;

}

.review .box-container .box .user img{
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 1rem;
}

.review .box-container .box .user h3{
    font-size: 2rem;
    color: #333;
}

.review .box-container .box .user span{
    font-size: 1.5rem;
    color: #999;
}


.contact .row{
    display: flex;
    flex-wrap: wrap-reverse;
    gap: 1.5rem; 
    align-items: center;  
}

.contact .row form{
    flex: 1 1 40rem;
    padding: 2rem 2.5rem;
    box-shadow: 0.5rem 1.5rem rgba(0,0,0,.1);
    border: 1rem solid rgba(0,0,0,.1);
    background: #fff;
    border-radius: .5rem;
}

.contact .row .image{
    flex: 1 1 10rem;
}

.contact .row .image img{
    width: 100%;
    
}

.contact .row form .box{
    padding: 1rem;
    font-size: 1.7rem;
    color: #333;
    text-transform: none;
    border: .1rem solid rgba(0,0,0,.1);
    border-radius: .5rem;
    margin: .7rem 0 ;
    width: 100%;
}

.contact .row form .box:focus{
    border-color: var(--pink); 
}

.contact .row form textarea{
    height: 15rem;
    resize: none;
}

.footer{
	line-height: 1.5;
	font-family: 'Poppins', sans-serif;
	margin:0;
	padding:0;
	box-sizing: border-box;
    background-color: #24262b;
    padding: 70px 0;
}
.footer-container{
	max-width: 1170px;
	margin:auto;
}
.footer-row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}

.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #e91e63;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}










/*responsividade*/

@media (max-width:991px) {

    html{
        font-size: 55%;
        }

    header{
        padding: 2rem;

    }

    section{
        padding: 2rem;

    }

    .home{
        background-position:left ;
    }
    
}

@media (max-width:768px){
    header.icons-bootstrap{
        display: block;
    }

    header.navbar{
        position: absolute;
        top: 100%; left: 0; right:0;
        background-color: #eee;
        border-top: .1rem solid rgba(0,0,0,0.1);
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);

    }


    header.navbar a{
        margin: 1.5rem;
        padding: 1.5rem;
        background: #fff;
        border: 0.1rem solid rgba(0,0,0,0.1);
        display: block;
    }

    .home.conteudo h3{
        font-size: 5rem;
    }

    .home.conteudo span{
        font-size: 2.5rem;
    }

    .icons-container .icons h3{
        font-size: 2rem;
    }
    
    .icons-container .icons span{
        font-size: 1.7rem ;
    }
    

    header #toggler:checked ~.navbar{
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);

    }

    header.navbar a{
        margin: 1.5rem;
        padding: 1.5rem;
        background:#fff ;
        border: .1rem solid rgba(0,0,0,0.1);
        display: block;
    }

    @media (max-width:450px) {

        html{
            font-size: 50%;
            }

        .heading{
            font-size: 3 rem;
        }
    
        
    }
}


@media(max-width: 767px){
    .footer-col{
      width: 50%;
      margin-bottom: 30px;
  }
  }
  @media(max-width: 574px){
    .footer-col{
      width: 100%;
  }
  }